/* CSS Document */
* {margin:0;padding:0;text-decoration:none;color:inherit;box-sizing: border-box;font-size:inherit;font-weight: inherit;font-style:normal;border-collapse: collapse;border:0;list-style:none;line-height:inherit;outline: none;word-break:inherit}
html,body{width:100%;height:100%; word-break:break-word;font-size:14px;}
html.fixed,body.fixed {overflow:hidden;}
legend{display:none}
button{cursor:pointer;background-color:transparent;}
body{font-family:'Nanum Barun Gothic', sans-serif; font-size:14px; color:#333; background-color:#fff;}

ul, li, ol { list-style: none; }
a { text-decoration: none; }
img{border:0; vertical-align:middle;}
a{color: #333333; text-decoration: none; }
a:hover{text-decoration:none;}
caption{font-size:0}
table{border-spacing:0;}
em, i, address{font-style:normal;}
i {font-size:0;background-repeat:no-repeat;background-position:center;display:inline-block;vertical-align:middle;}
input[type=text], input[type=password], select, textarea, button {font-family:'Nanum Barun Gothic', sans-serif;}
input[type=text],input[type=password],input[type=date],select,textarea,button {font-family:inherit;}
input[type=text],input[type=password],input[type=date],select,textarea {border:1px solid #a6a6a6; box-sizing:border-box;}
input[type=text],input[type=password],input[type=date],select {vertical-align:middle;font-size:14px;}
input[type=text],input[type=password],input[type=date] {padding:0 0 0 10px;}
input[type=text],input[type=password],textarea {width:100%;}
input[type=radio],input[type=checkbox] {margin:0 5px 0 5px; vertical-align:middle;}
button{cursor:pointer; border:0; padding:0;}
select{display: inline-block; width: 100%; border: 1px solid #ccc;height: 34px;  font-size: 14px;  color: #666;   background: #fff;  vertical-align: top;filter:alpha(opacity=0);
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none; 
	appearance: none; padding: 0 20px;background-image: url(../images/common/select_i.png);background-position: right 10px top 50%;background-repeat: no-repeat;}
*:focus { outline: none;}
.clear{clear:both}
.clearfix:after{content:""; clear:both; display:block}
.fl_l {float:left !important;}
.fl_c {display:inline-block; *display:inline; zoom:1;}
.fl_r {float:right !important;}

.ta_l {text-align:left !important;}
.ta_c {text-align:center !important;}
.ta_r {text-align:right !important;}

.blind{display: none; font-size: 0 !important;overflow: hidden; position: absolute; left: 0; font-size: 0;}
.hide { position: absolute;    left: -9999px;    top: -9999px;}
.align_r{text-align: right !important;}

.pt0	{padding-top:0px !important;}	.pr0	{padding-right:0px !important;}		.pb0	{padding-bottom:0px !important;}	.pl0	{padding-left:0px !important;}
.pt5	{padding-top:5px !important;}	.pr5	{padding-right:5px !important;}		.pb5	{padding-bottom:5px !important;}	.pl5	{padding-left:5px !important;}
.pt10  {padding-top:10px !important;}	.pr10  {padding-right:10px !important;}		.pb10  {padding-bottom:10px !important;}	.pl10  {padding-left:10px !important;}
.pt15  {padding-top:15px !important;}	.pr15  {padding-right:15px !important;}		.pb15  {padding-bottom:15px !important;}	.pl15  {padding-left:15px !important;}
.pt20  {padding-top:20px !important;}	.pr20  {padding-right:20px !important;}		.pb20  {padding-bottom:20px !important;}	.pl20  {padding-left:20px !important;}
.pt25  {padding-top:25px !important;}	.pr25  {padding-right:25px !important;}		.pb25  {padding-bottom:25px !important;}	.pl25  {padding-left:25px !important;}
.pt30  {padding-top:30px !important;}	.pr30  {padding-right:30px !important;}		.pb30  {padding-bottom:30px !important;}	.pl30  {padding-left:30px !important;}
.pt35  {padding-top:35px !important;}	.pr35  {padding-right:35px !important;}		.pb35  {padding-bottom:35px !important;}	.pl35  {padding-left:35px !important;}
.pt40  {padding-top:40px !important;}	.pr40  {padding-right:40px !important;}		.pb40  {padding-bottom:40px !important;}	.pl40  {padding-left:40px !important;}
.pt45  {padding-top:45px !important;}	.pr45  {padding-right:45px !important;}		.pb45  {padding-bottom:45px !important;}	.pl45  {padding-left:45px !important;}
.pt50  {padding-top:50px !important;}	.pr50  {padding-right:50px !important;}		.pb50  {padding-bottom:50px !important;}	.pl50  {padding-left:50px !important;}
.pt55  {padding-top:55px !important;}	.pr55  {padding-right:55px !important;}		.pb55  {padding-bottom:55px !important;}	.pl55  {padding-left:55px !important;}
.pt60  {padding-top:60px !important;}	.pr60  {padding-right:60px !important;}		.pb60  {padding-bottom:60px !important;}	.pl60  {padding-left:60px !important;}
.pt65  {padding-top:65px !important;}	.pr65  {padding-right:65px !important;}		.pb65  {padding-bottom:65px !important;}	.pl65  {padding-left:65px !important;}
.pt70  {padding-top:70px !important;}	.pr70  {padding-right:70px !important;}		.pb70  {padding-bottom:70px !important;}	.pl70  {padding-left:70px !important;}
.pt75  {padding-top:75px !important;}	.pr75  {padding-right:75px !important;}		.pb75  {padding-bottom:75px !important;}	.pl75  {padding-left:75px !important;}
.pt80  {padding-top:80px !important;}	.pr80  {padding-right:80px !important;}		.pb80  {padding-bottom:80px !important;}	.pl80  {padding-left:80px !important;}
.pt85  {padding-top:85px !important;}	.pr85  {padding-right:85px !important;}		.pb85  {padding-bottom:85px !important;}	.pl85  {padding-left:85px !important;}
.pt90  {padding-top:90px !important;}	.pr90  {padding-right:90px !important;}		.pb90  {padding-bottom:90px !important;}	.pl90  {padding-left:90px !important;}
.pt95  {padding-top:95px !important;}	.pr95  {padding-right:95px !important;}		.pb95  {padding-bottom:95px !important;}	.pl95  {padding-left:95px !important;}
.pt100 {padding-top:100px !important;}	.pr100 {padding-right:100px !important;}	.pb100 {padding-bottom:100px !important;}	.pl100 {padding-left:100px !important;}

.mt0	{margin-top:0px !important;}	.mr0	{margin-right:0px !important;}	    .mb0	{margin-bottom:0px !important;}	    .ml0	{margin-left:0px !important;}
.mt5	{margin-top:5px !important;}	.mr5	{margin-right:5px !important;}	    .mb5	{margin-bottom:5px !important;}	    .ml5	{margin-left:5px !important;}
.mt10  {margin-top:10px !important;}	.mr10  {margin-right:10px !important;}  	.mb10  {margin-bottom:10px !important;}  	.ml10  {margin-left:10px !important;}
.mt15  {margin-top:15px !important;}	.mr15  {margin-right:15px !important;}  	.mb15  {margin-bottom:15px !important;}  	.ml15  {margin-left:15px !important;}
.mt20  {margin-top:20px !important;}	.mr20  {margin-right:20px !important;}  	.mb20  {margin-bottom:20px !important;}  	.ml20  {margin-left:20px !important;}
.mt25  {margin-top:25px !important;}	.mr25  {margin-right:25px !important;}  	.mb25  {margin-bottom:25px !important;}  	.ml25  {margin-left:25px !important;}
.mt30  {margin-top:30px !important;}	.mr30  {margin-right:30px !important;}  	.mb30  {margin-bottom:30px !important;}  	.ml30  {margin-left:30px !important;}
.mt35  {margin-top:35px !important;}	.mr35  {margin-right:35px !important;}  	.mb35  {margin-bottom:35px !important;}  	.ml35  {margin-left:35px !important;}
.mt40  {margin-top:40px !important;}	.mr40  {margin-right:40px !important;}  	.mb40  {margin-bottom:40px !important;}  	.ml40  {margin-left:40px !important;}
.mt45  {margin-top:45px !important;}	.mr45  {margin-right:45px !important;}  	.mb45  {margin-bottom:45px !important;}  	.ml45  {margin-left:45px !important;}
.mt50  {margin-top:50px !important;}	.mr50  {margin-right:50px !important;}  	.mb50  {margin-bottom:50px !important;}  	.ml50  {margin-left:50px !important;}
.mt55  {margin-top:55px !important;}	.mr55  {margin-right:55px !important;}  	.mb55  {margin-bottom:55px !important;}  	.ml55  {margin-left:55px !important;}
.mt60  {margin-top:60px !important;}	.mr60  {margin-right:60px !important;}  	.mb60  {margin-bottom:60px !important;}  	.ml60  {margin-left:60px !important;}
.mt65  {margin-top:65px !important;}	.mr65  {margin-right:65px !important;}  	.mb65  {margin-bottom:65px !important;}  	.ml65  {margin-left:65px !important;}
.mt70  {margin-top:70px !important;}	.mr70  {margin-right:70px !important;}  	.mb70  {margin-bottom:70px !important;}  	.ml70  {margin-left:70px !important;}
.mt75  {margin-top:75px !important;}	.mr75  {margin-right:75px !important;}  	.mb75  {margin-bottom:75px !important;}  	.ml75  {margin-left:75px !important;}
.mt80  {margin-top:80px !important;}	.mr80  {margin-right:80px !important;}  	.mb80  {margin-bottom:80px !important;}  	.ml80  {margin-left:80px !important;}
.mt85  {margin-top:85px !important;}	.mr85  {margin-right:85px !important;}  	.mb85  {margin-bottom:85px !important;}  	.ml85  {margin-left:85px !important;}
.mt90  {margin-top:90px !important;}	.mr90  {margin-right:90px !important;}  	.mb90  {margin-bottom:90px !important;}  	.ml90  {margin-left:90px !important;}
.mt95  {margin-top:95px !important;}	.mr95  {margin-right:95px !important;}  	.mb95  {margin-bottom:95px !important;}  	.ml95  {margin-left:95px !important;}
.mt100 {margin-top:100px !important;}	.mr100 {margin-right:100px !important;}		.mb100 {margin-bottom:100px !important;}	.ml100 {margin-left:100px !important;}

.pagination{margin-top:60px;white-space: nowrap; text-align: center; height:36px; line-height:36px; font-size:0;}
.pagination a{display:inline-block; height:36px; width:36px;  vertical-align:middle; margin:0 2px;text-align:center;font-size:14px; color:#0654ba; border-radius: 3px;font-weight: 400;}
.pagination .on{color:#9999a5; font-weight:bold; border: 1px solid #c9dde9; line-height: 34px;}
.pagination a:hover{background-color: #c9dde9;}
.pagination .prev,.pagination .next{height:36px; width:36px;background-repeat:no-repeat;background-position: center;overflow:hidden;position:relative;font-size:0;border: 1px solid #d3d3d3;}
.pagination .prev:hover ,.pagination .next:hover{background-color: #fff;}
.pagination .prev{margin-right:14px;background-image:url("../images/common/paging_prev.png");}
.pagination .next{margin-left:14px;background-image:url("../images/common/paging_next.png");}


.sel_arrow{background-image: url("../images/common/sel_arrow.png");background-position:96% 50%; background-repeat:no-repeat;-webkit-appearance: none;-moz-appearance: none; appearance: none;}
.btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    overflow: visible;
    zoom: 1;
    white-space: nowrap;
    word-wrap: normal;
    word-break: normal;
    cursor: pointer;
    box-sizing: border-box;
    font-family: inherit;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
   color: #999;
}
:-moz-placeholder { /* Firefox 18- */
   color: #999;
}

.img-box{position:relative;display: block;overflow:hidden;}
.img-box img{width:100%;height:100%;position:absolute;top:0;left:0;bottom:0;right:0;    object-fit: cover;
}

.selectbox span{position:absolute;display:block;
	top:18px;
	right:16px;
	width:9px;
	height:6px;
	background-image: url("../images/common/common-icon.png");
	background-repeat:no-repeat;
	background-position:-96px -26px;
}


.selectbox { 
	display:inline-block;
	position: relative; 
	width: 154px; 
	height: 43px; 
	line-height:43px;

	z-index: 1; 
	border-right:1px solid #dcdcdc;
}
.selectbox label { 
	position: absolute; 
	top: 0px; 
	left: 20px;
	height: 45px;
	line-height: 45px; 
	color: #666;
	font-size:13px;
	z-index: -1; 
} 
.selectbox select { 
	width: 100%;
	height: 43px; 
	line-height: 43px;
	font-family: inherit; 
	border: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none; 
	appearance: none; 
}




