@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/NanumBarunGothicUltraLight.eot);
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url(../fonts/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumBarunGothicUltraLight.woff) format('woff'),
       url(../fonts/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumBarunGothicLight.woff) format('woff'),
       url(../fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumBarunGothic.woff) format('woff'),
       url(../fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(../fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumBarunGothicBold.woff) format('woff'),
       url(../fonts/NanumBarunGothicBold.ttf) format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  /*padding-bottom: 18px;*/
  color: #333;
  font-weight: normal;
  
  font-family: 'Segoe UI', 'NanumBarunGothic','NanumGothic', 
         'Open Sans','나눔고딕', '맑은 고딕', 'Malgun Gothic', 
          Dotum, sans-serif !important;
/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}


/*
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
*/

h1 { font-size: 2rem;}
h2 { font-size: 1.5rem;}
h3 { font-size: 1.17rem;}
h4 { font-size: 1.12rem;}
h5 { font-size: .9rem;}
h6 { font-size: .83rem;}

.font-bold {font-weight: 600;}