.sub_content .account_wrap{margin-top: 20px;font-family:"Noto Sans KR", sans-serif ;}
.sub_content .account_wrap .ac_tap_area{margin-top: 40px;color: #333;}
.sub_content .account_wrap .ac_tap_area .tit{font-size: 20px;font-weight: bold;}
.sub_content .account_wrap .ac_tap_area .ac_tap{font-size: 0;width: 100%;margin-top: 20px;}
.sub_content .account_wrap .ac_tap_area .ac_tap li{display: inline-block; vertical-align: top;width: 33.3%; height: 46px;border:1px solid #dbdbdb; border-left: none; text-align: center;line-height: 44px;font-weight: 600;}
.sub_content .account_wrap .ac_tap_area .ac_tap.type02 li{width: 25%;}
.sub_content .account_wrap .ac_tap_area .ac_tap li:first-child{border-left:1px solid #dbdbdb;}
.sub_content .account_wrap .ac_tap_area .ac_tap li a{color: #333;display: block;width: 100%;height: 44px; font-size: 14px;}
.sub_content .account_wrap .ac_tap_area .ac_tap li.on{border: 1px solid #3a96f2;}
.sub_content .account_wrap .ac_tap_area .ac_tap li.on a{color: #3a96f2;}

.sub_content .account_wrap .sh_date_area{padding:30px 60px;background-color: #f1f1f1;border: 1px solid #ccc; font-size: 0;}
.sub_content .account_wrap .sh_date_area .mt40{margin-top: 40px;}
.sub_content .account_wrap .sh_date_tit{font-size: 20px;line-height: 30px;margin-top: 35px;color: #080808; margin-bottom: 14px;font-weight:500;}
.sub_content .account_wrap .sh_date_area > div{display: inline-block;vertical-align: bottom;}
.sub_content .account_wrap .sh_date_area .btn_area{font-size: 0;border: 1px solid #ccc;width: 478px; border-radius: 6px;background-color: #fff; overflow: hidden;}
.sub_content .account_wrap .sh_date_area .btn_area .btn{font-size: 16px;display: inline-block;width: 25%; height: 40px;line-height: 40px;color: #222;-webkit-box-sizing: border-box;box-sizing: border-box;border-left: 1px solid #ccc;background-color: #fff;border-top: 0;border-bottom: 0;border-right: 0;margin: 0;}
.sub_content .account_wrap .sh_date_area .btn_area .btn.on{background-color: #3a96f2;color: #fff;}
.sub_content .account_wrap .sh_date_area .btn_area .btn:first-child{border-left: 0;}

.sub_content .account_wrap .sh_date_area .select_date{margin-left: 30px;}
.sub_content .account_wrap .sh_date_area .select_date .sel_date{display: inline-block;width: 142px; height: 40px; border: 1px solid #ccc;line-height: 40px;background-image: url(../images/common/calendar_icon.png); background-size: 17px;background-position: right 9px center;background-repeat: no-repeat; border-radius: 6px;}
.sub_content .account_wrap .sh_date_area .select_date em{display: inline-block;vertical-align: top; width: 16px; font-size: 12px; text-align: center; line-height: 40px;}
.sub_content .account_wrap .sh_date_area .select_date .btn{width: 40px;height: 40px;border-radius: 6px;font-size: 0; background-color: #fff;border: 1px solid #ccc;background-image: url(../images/common/srh_btn_icon.png); background-repeat: no-repeat;background-position: center center; margin-left: 10px;}

.sub_content .account_wrap .table_wrap{margin-top: 20px;}
.sub_content .account_wrap .table_wrap table tr td .none{display: inline-block; width: 15px;height: 2px; background-color: #dbdbdb;}
.sub_content .account_wrap .table_wrap table tr td .refund{width: 100px;height: 30px;line-height: 28px; border: 1px solid #3a96f2; font-size: 14px;color: #3a96f2; font-weight: 400;}
/*¸µÅ©ÅÜ*/
.sub_content .account_wrap .lnk_area.type02 .txt_box{width: 48%;}
.sub_content .account_wrap .lnk_area.type02 .lnk_tap{width: 52%;}
.sub_content .account_wrap .lnk_area.type02 .lnk_tap li{width: 30.6%;}
.sub_content .account_wrap .lnk_area.type02 .txt_box p.desk{font-weight: bold;font-size: 20px;margin-top: 0;}
.sub_content .account_wrap .lnk_area.type02 .txt_box p.time{font-size: 12px;}



.sub_content .account_wrap .auction_deposit{margin-top: 20px; border: 1px solid #dbdbdb;}
.sub_content .account_wrap .auction_deposit .ad_top{background-color: #f5f5f5;text-align: right; font-size: 0; padding: 10px 20px;}
.sub_content .account_wrap .auction_deposit .ad_top span{display: inline-block;vertical-align: top;line-height: 32px; font-size: 20px;color: #080808; padding-right: 10px;}
.sub_content .account_wrap .auction_deposit .ad_top .btn{color: #333a39;border:1px solid #ccc;width: 90px;height: 32px;line-height: 28px;font-size: 14px;margin-left: 10px;background-color: #fff;padding-right: 20px;position: relative; vertical-align: top;}
.sub_content .account_wrap .auction_deposit .ad_top .btn:after{content:"";display: inline-block;width: 7px;height: 13px;position: absolute;background-repeat: no-repeat;background-image: url(../images/sub/deposit_arw.png);right: 13px;top: 9px;font-size: 16px;}
.sub_content .account_wrap .auction_deposit .ad_txt{padding:10px 20px;  text-align: right;}
.sub_content .account_wrap .auction_deposit .ad_txt.text_red{font-size: 24px;color: #ef262c;font-weight: bold; line-height: 40px;}
.sub_content .account_wrap .auction_deposit .ad_txt.type-02{border-top: 1px dotted #afafaf;}
.sub_content .account_wrap .auction_deposit .ad_txt p{font-size: 16px;line-height: 30px;}
.sub_content .account_wrap .auction_deposit .ad_txt p strong{font-weight: 600;}
.table_wrap.type02 table{table-layout:fixed;}
.table_wrap.type02 table tr td{padding:20px;}
.table_wrap.type02 table tr td .td_tit.img{display: table;}
.table_wrap.type02 table tr td .td_tit.img > div{width: auto;height: auto;display: table-cell;vertical-align: top;}
.table_wrap.type02 table tr td .td_tit.img .t_box{padding-left: 20px;max-width: 100%;}
/*.table_wrap.type02 table tr td .td_tit.img .t_box.type02{padding:0px;}*/
.table_wrap.type02 table tr td .td_tit.img .t_box.oft{max-width:65%;padding:10px 0 10px 20px;}
.table_wrap.type02 table tr td .td_tit.img .t_box.oft a{width: 100%;height: 34px;color: #000;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break:break-all; line-height: 16px;overflow: hidden;text-align: left;white-space: normal;margin-top: 0;}
.table_wrap.type02 table tr td .td_tit.img .t_box p{font-size: 15px;color: #1f1f1f;line-height: 100%;text-align: left;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;max-width:320px;height: 17px;overflow:hidden;}
.table_wrap.type02 table tr td .td_tit.img .t_box.type02 p{max-width:430px;}
.table_wrap.type02 table tr td .td_tit.img .t_box.type02 a{max-width:430px;}
.table_wrap.type02 table tr td .td_tit.img .t_box.type03 p{max-width:550px;}
.table_wrap.type02 table tr td .td_tit.img .t_box.type03 a{max-width:550px;}
.table_wrap.type02 table tr td .td_tit.img .t_box p.store{margin-top: 0;}
.table_wrap.type02 table tr td .td_tit.img .t_box a{margin-top: 10px;display: block;color: #1f1f1f;text-decoration: underline;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;max-width:320px;overflow:hidden;text-align: left;}
.table_wrap.type02 table tr td .td_tit.img .t_box p .txt_blue{color: #0064d2;}
.table_wrap.type02 table tr td .td_tit.img .t_box .mt18{margin-top: 18px;}
.table_wrap.type02 table tr td .td_tit.img .img_box{width: 60px;height: 60px;overflow: hidden;border: 1px solid #e5e5e5;}
.table_wrap.type02 table tr td .td_tit.img .img_box img{max-width:100%;}
.table_wrap.type02 table tr td .td_tit.img .img_box.type02{width: 102px;height: 102px;}
.table_wrap.type02 table tr td .td_tit.img .img_box.type02.mr20{margin-right: 20px;}
.table_wrap.type02 table tr td .td_tit.img.type02{position: relative;}
.table_wrap.type02 table tr td .td_tit.img.type02 .img_wrap:after{content:"";display: inline-block;position: absolute;left: 120px;height: calc(100% + 40px);border-right: 1px solid #afafaf;border-right-style:dotted ;top: -20px;}
.table_wrap.type02 table tr td.td_tit.type03{padding-left: 20px;color: #666;font-size: 14px;}
.table_wrap.type02 table tr td.td_tit.type03 p{position: relative;padding-left: 10px;}
.table_wrap.type02 table tr td.td_tit.type03 p:after{content:"-";position: absolute;left: 0;top: 0;bottom: 0;margin:auto 0;}
.table_wrap.type02 table tr td.odr_info{padding:0 10px;text-align: left;}
.table_wrap.type02 table tr td.odr_info.type02{padding: 40px 10px;}
.table_wrap.type02 table tr td.odr_info p{margin-top: 5px;padding-left: 5px;}
.table_wrap.type02 table tr td.odr_info .odr_link{font-size:15px;color: #527fef;margin-top: 20px;display: block;padding-left: 5px;}
.table_wrap.type02 table tr td.odr_info .num{font-weight: bold;}
.table_wrap.type02 table tr td.date_txt{padding:0;letter-spacing:-0.01em;}
.table_wrap.type02 table tr td .gray_box{background-color: #afafaf;width: 90px;height: 30px;border-radius: 4px;line-height: 30px;color: #fff;display: inline-block;}
.table_wrap.type02 table tr td .txt_red{color: #f02f34;}
.table_wrap.type02 table tr td .txt_red.type02{font-size: 15px;font-weight: 400;display: block;}
.table_wrap.type02 table tr td.review_box{width: 100%;height: 50px;padding: 0;text-align: right;}
.table_wrap.type02 table tr td.review_box .gray_box{text-align: center;color: #19191a;}
.table_wrap.type02 table tr td .memo{width: 298px;height: 28px;margin-right: 8px;}
.table_wrap.type02 table tr td .btn.save{width: 50px;height: 28px;line-height: 28px;background-color: #3a96f2;border-radius: 4px;color: #fff;}
.table_wrap.type02 table tr td .btn.clr{width: 50px;height: 28px;line-height: 26px;border-radius: 4px;color: #fff;margin-left: 8px;border: 1px solid #333a39;font-size: 14px;color: #333a39;}


.table_wrap.type02 table tr td .btn.del{color: #1f1f1;}
.sh_notice{border: 1px solid #c7c7c7; padding: 12px 18px;}
.sh_notice li{position: relative; padding-left: 20px; font-size: 14px; line-height: 30px; color: #666;}
.sh_notice li span{display: inline-block;position: absolute;top: 0;left: 0;}
.sh_notice li p{line-height: 24px;}
.sub_content .account_wrap .coll_tit{border: 1px solid #c7c7c7;padding:20px 0;margin-top: 20px;color: #666666;font-size: 14px;}
.sub_content .account_wrap .coll_tit p{padding-left:38px;position: relative;margin-top: 10px;}
.sub_content .account_wrap .coll_tit p:first-child{margin-top: 0px;}
.sub_content .account_wrap .coll_tit p:after{content:"";display: inline-block;width: 1px;height: 1px;border:1px solid #666666;position: absolute;top: 0;bottom: 0;left: 19px;margin: auto 0;border-radius: 100%;background-color: #666666;}
.sub_content .account_wrap .coll_tit.type02 p{padding-left: 27px;}
.sub_content .account_wrap .coll_tit.type02 p:after{border-radius: 0;border: 0;border-bottom: 1px solid #666;width: 5px;left: 20px;}

.sub_content .account_wrap .auction_tap{overflow: hidden;margin-top: 40px;}
.sub_content .account_wrap .auction_tap .btn{width: 16.6%;float: left;padding:15px 0;text-align: center;font-size: 14px;color: #333;border:1px solid #dbdbdb;border-right: 0;}
.sub_content .account_wrap .auction_tap .btn:last-child{border-right: 1px solid #dbdbdb;}
.sub_content .account_wrap .auction_tap .btn.on{color: #3a96f2;border: 1px solid #3a96f2;}

.del_guide{margin-top: 40px;border-top:1px solid #cfcfd0;border-bottom:1px solid #cfcfd0;padding:30px;}
.del_guide .del_guide_tit{padding-bottom: 12px;border-bottom:1px solid #cfcfd0;}
.del_guide .del_guide_tit p{color: #19191a;font-size: 16px;position: relative;padding-left: 15px;}
.del_guide .del_guide_tit p:after{content:"";display: inline-block;position: absolute;left: 0;top: 0;bottom: 0;margin:auto 0;width: 5px;height: 5px;background-color: #ff422e;border-radius: 100%;}
.del_guide .del_guide_con{padding-top: 20px;}
.del_guide .del_guide_con .con_tit{font-size: 14px;color: #19191a;}
.del_guide .del_guide_con .img_box{width: 100%;margin-top: 10px;margin-bottom: 20px;}
.del_guide .del_guide_con .img_box img{max-width:100%;}
.del_guide .del_guide_con .txt_box{font-size: 12px;color: #666;}
.del_guide .del_guide_con .txt_box p{margin-top: 8px;}
.del_guide .del_guide_con .txt_box p:first-child{margin-top: 0;}
.del_guide .del_guide_con .txt_box p span{font-size: 14px;color: #19191a;}
.del_guide .del_guide_con .txt_box p span.db{display: block;}
.del_guide .del_guide_con .txt_box p a{font-size: 14px;color: #527fef;text-decoration: underline;}

.table_wrap.type02 table tr td.my_review{padding: 20px 0;text-align: left;border-left: 0;}
.table_wrap.type02 table tr td.my_review .star_and_tit{width: 100%;position: relative;}
.table_wrap.type02 table tr td.my_review .star_and_tit .star_area{display: block;width: 86px;height: 16px;background-image: url("../images/sub/star_off.png");background-repeat: no-repeat;-webkit-background-size: 100%;background-size: 100%;position: relative;}
.table_wrap.type02 table tr td.my_review .star_and_tit .star_area .star{display: inline-block;height: 16px;background-image: url("../images/sub/star_on.png");position: absolute;top: 0;left: 0;background-repeat: no-repeat;-webkit-background-size: 86px 16;background-size: 86px 16px;}
.table_wrap.type02 table tr td.my_review .star_and_tit .date{position: absolute;color: #868686;font-size: 14px;font-weight: 300;right: 20px;top: 10px;}
.table_wrap.type02 table tr td.my_review .star_and_tit .tit{font-size: 16px;color: #000;margin-top: 10px;}
.table_wrap.type02 table tr td.my_review .review_txt{width: 100%;margin-top: 12px;background-color: #f6f6f8;padding:15px 20px;}
.table_wrap.type02 table tr td.my_review .review_txt p{font-size: 15px;color: #4a4a4a;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 20px;height: 60px;overflow: hidden;}

.table_wrap.type03 table tr td{text-align: left;}
.table_wrap.type03 table tr td{padding:10px;}
.table_wrap.type03 table tr td input[type=text]{height: 36px;}
.table_wrap.type03 table tr td div .file_na{width: 440px;}
.table_wrap.type03 table tr td div .btn.file_btn{height: 36px;width: 104px;line-height: 36px;background-color: #7d7d7d;color: #fff;}
.table_wrap.type03 table tr td div.file_name{margin-top: 8px;}
.table_wrap.type03 table tr td div.file_name div{display: inline-block;padding:0 10px;position: relative;}
.table_wrap.type03 table tr td div.file_name div:first-child{padding-left: 0;}
.table_wrap.type03 table tr td div.file_name div:after{content:"";display: inline-block;height: 16px;border-right: 1px solid #a1a1a1;position: absolute;left: 0;top: 0;bottom: 0;margin: auto 0;}
.table_wrap.type03 table tr td div.file_name div:first-child::after{border-right: 0;}
.table_wrap.type03 table tr td div.file_name div .btn{width: 18px;height: 18px;border: 1px solid #e5e5e5;background-image: url(../images/sub/file_close_btn_icon.png);background-repeat: no-repeat;background-position: center center;font-size: 0;}
.table_wrap.type03 table tr td div.file_name div span{font-size: 14px;color: #0063d2;text-decoration: underline;}
.table_wrap.type03 table tr td div.file_notice{font-size: 14px;color: #000;margin-top: 20px;}
.table_wrap.type03 table tr td div.file_notice .message{padding-left: 30px;position: relative;margin-left: 15px;}
.table_wrap.type03 table tr td div.file_notice .message i{display: inline-block;position: absolute;left: 0;top: 0;bottom: 0;margin:auto 0;width: 16px;height: 16px;border: 1px solid #bfbfbf;border-radius: 100%;}
.table_wrap.type03 table tr td div.file_notice input[type=radio]:checked + label i::after{content:"";display: inline-block;width: 8px;height: 8px;background-color: #333a39;border-radius: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.btn_area.save_fin{margin-top: 80px;}
.btn_area.save_fin .btn{width: 235px;height: 62px;line-height: 62px;font-weight: bold;}
.btn_area.save_fin .btn.cancel{background-color: #fff;border: 1px solid #333a39;color: #333a39;}

.table_wrap.type02.dotted table tr th,.table_wrap.type02.dotted table tr td{border-bottom-style: dotted;}
.table_wrap.type02.dotted table tr td.td_right{text-align: right;font-size: 16px;}
.faq_con{padding:0 20px;border-top:1px solid #dbdbdb;}
.sub_content .account_wrap .faq_con .sh_date_tit{margin-top: 0;}
.faq_con.type02{padding: 22px;border: 1px solid #dbdbdb;margin-top: 40px;}
.faq_con .faq_tap_area{width: 100%;padding:30px 0 20px;border-bottom:1px solid #dbdbdb;border-bottom-style: dotted;font-size: 0;}
.faq_con .faq_tap_area .btn{border: 1px solid #dcdcdc;background-color: #f7f7f7;width: 18%;margin-left: 2.5%;height: 100px;background-repeat: no-repeat;text-align: center;padding-bottom: 20px;color: #484848;font-size: 14px;line-height:140px;}
.faq_con .faq_tap_area .btn.on{background-color: #527fef;color: #fff;}
.faq_con .faq_tap_area .btn:first-child{margin-left: 0;}
.faq_con .faq_tap_area .btn.faq01{background-image: url("../images/sub/faq_btn_icon01_off.png");background-position: center 25px;}
.faq_con .faq_tap_area .btn.faq02{background-image: url("../images/sub/faq_btn_icon02_off.png");background-position: center 22px;}
.faq_con .faq_tap_area .btn.faq03{background-image: url("../images/sub/faq_btn_icon03_off.png");background-position: center 22px;}
.faq_con .faq_tap_area .btn.faq04{background-image: url("../images/sub/faq_btn_icon04_off.png");background-position: center 25px;}
.faq_con .faq_tap_area .btn.faq05{background-image: url("../images/sub/faq_btn_icon05_off.png");background-position: center 25px;}

.faq_con .faq_tap_area .btn.on.faq01{background-image: url("../images/sub/faq_btn_icon01_on.png");}
.faq_con .faq_tap_area .btn.on.faq02{background-image: url("../images/sub/faq_btn_icon02_on.png");}
.faq_con .faq_tap_area .btn.on.faq03{background-image: url("../images/sub/faq_btn_icon03_on.png");}
.faq_con .faq_tap_area .btn.on.faq04{background-image: url("../images/sub/faq_btn_icon04_on.png");}
.faq_con .faq_tap_area .btn.on.faq05{background-image: url("../images/sub/faq_btn_icon05_on.png");}
.faq_con .srch_area{margin-top: 20px;font-size: 0;}
.faq_con .srch_area input[type=text]{width:calc(100% - 90px);height: 42px;background-image: url("../images/sub/srh_btn_icon02.png");background-repeat: no-repeat;padding-left: 40px;background-position: 10px center;}
.faq_con .srch_area .btn{background-color: #527fef;border-radius: 3px;width: 90px;height: 42px;line-height: 42px;text-align: center;font-size: 16px;color: #fff;}

.faq_con .faq_menu_list{margin-top: 20px;border-top:1px solid #000;border-bottom: 1px solid #000;}
.faq_con .faq_menu_list dl{border-bottom:1px solid #cfcfd0;}
.faq_con .faq_menu_list dl:last-child{border-bottom: 0;}
.faq_con .faq_menu_list dl:after{content:"";display: block;clear: both;}
.faq_con .faq_menu_list dl dt{width: 16.2%;padding:20px 0;text-align: center;float: left;font-size: 14px;font-weight: 500;position: relative;}
.faq_con .faq_menu_list dl dt:after{content:"";display: inline-block;position: absolute;height: 16px;border-left: 1px solid #cfcfd0;right: 0;top: 0;bottom: 0;margin:auto 0;}
.faq_con .faq_menu_list dl dd{width: 83.8%;padding: 20px 0 20px 30px;float: left;}
.faq_con .faq_menu_list dl dd a{max-width: 90%;display: block;font-size: 14px;color: #000;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow: hidden;}
.faq_area{margin-top: 40px;}
.faq_area.type02{margin-top: 0px;}
.faq_area:after{content:"";display: block;clear: both;}
.faq_area > div{width: 48%;margin-left: 4%;float: left;}
.faq_area > div:first-child{margin-left: 0;}
.faq_area > div ul{margin-top: 20px;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.faq_area > div ul li{width: 100%;padding:20px 0 20px 20px;border-bottom: 1px solid #cfcfd0;position: relative;}
.faq_area > div ul li:after{content:"";display: inline-block;width: 4px;height: 4px;background-color: #a0a0a0;border-radius: 100%;position: absolute;top: 0;bottom: 0;left: 8px;margin:auto 0;}
.faq_area > div ul li a{display: inline-block;max-width: 80%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow: hidden;}
.faq_area > div .fl_r{float: right;margin-right: 10px;}
.fl_r.fzs{font-size: 14px;color: #929292;}
.faq_area > div .sh_date_tit a{color: #313131;font-size: 14px;font-weight: 400;padding-right: 18px;position: relative;}
.faq_area > div .sh_date_tit a:after{content:">";position: absolute;right: 0;top: 0;bottom: 0;margin:auto 0;font-size: 20px;font-weight: 300;}
.faq_view_wrap .tit{color: #000;font-size: 20px;font-weight: 500;padding: 20px;background-color: #f7f7f7;border-top: 1px solid #000;}
.faq_view_wrap .con{border-top: 1px solid #c7c7c7;border-bottom: 1px solid #c7c7c7;min-height: 390px;padding: 20px;}
.btn_area.question{text-align: right;}
table tr td table th{text-align: center;}
.btn_area.question .btn{background-color: #ccc;color: #19191a;width: 96px;height: 30px;font-size: 14px;font-weight: 400;line-height: 30px;border: 0;border-radius: 3px;}
.btn_area.mt80{margin-top: 80px;}
.btn_area.mt80 .btn{width: 235px;height: 62px;line-height: 62px;}

/*¹è³Ê*/
.hd_bnr .bnr_wrap{width: 100%;}
.hd_bnr .bnr_wrap img{max-width: 100%;}
.hd_bnr .bnr_wrap.exh_bnr{width: 100%;padding-top: 30.61%;background-image: url(../images/sub/exhib_bnr_bg.png);-webkit-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;position: relative;}
.hd_bnr .bnr_wrap.exh_bnr .txt_area{position: absolute;left: 40px;top: 50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);color: #431278;font-size: 20px;}
.hd_bnr .bnr_wrap.exh_bnr .txt_area strong{display: inline-block;font-size: 42px;letter-spacing: 0.01em;margin-top: 5px;}
.hd_bnr .bnr_wrap.exh_bnr .txt_area span{display: inline-block;font-size: 20px;margin:15px 0;}
.hd_bnr .bnr_wrap.exh_bnr .txt_area a.link_btn{display: block;font-size: 14px;border: 1px solid #431278;width: 120px;height: 40px;line-height: 40px;padding-left: 15px;position: relative;}
.hd_bnr .bnr_wrap.exh_bnr .txt_area a.link_btn:after{content:"";display: inline-block;width: 7px;height: 13px;background-image: url(../images/sub/txt_area_arrow.png);position: absolute;top: 0;bottom: 0;margin:auto 0;right:15px ;background-repeat: no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.hd_bnr .hd_tp{padding:30px 5px;}
.hd_bnr .hd_tp:after{content:"";display: block;clear: both;}
.hd_bnr .hd_tp li:first-child{margin-left: 0;}
.hd_bnr .hd_tp li{float: left;width: 100px;margin-left: 2.5%;}
.hd_bnr .hd_tp li a{display: inline-block;width: 100%;height: 100px;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;background-position: center center;border-radius: 100%;}
.hd_bnr .hd_tp li span{color: rgba(25,25,26,0.68);font-size: 20px;text-align: center;display: block;margin-top: 10px;letter-spacing:-0.05em;}
.hd_bnr .hd_tp li span.org_txt{color: #e51e08;}
.hd_bnr .hd_tp li a.list01{background-image: url("../images/sub/hd_tp_list01.png");}
.hd_bnr .hd_tp li a.list02{background-image: url("../images/sub/hd_tp_list02.png");}
.hd_bnr .hd_tp li a.list03{background-image: url("../images/sub/hd_tp_list03.png");}
.hd_bnr .hd_tp li a.list04{background-image: url("../images/sub/hd_tp_list04.png");}
.hd_bnr .hd_tp li a.list05{background-image: url("../images/sub/hd_tp_list05.png");}
.hd_bnr .hd_tp li a.list06{background-image: url("../images/sub/hd_tp_list06.png");}
.hd_bnr .hd_tp li a.list07{background-image: url("../images/sub/hd_tp_list07.png");}
.hd_bnr .hd_tp li a.list08{background-image: url("../images/sub/hd_tp_list08.png");}
.exb_tp{width: 100%;height: 50px;border: 1px solid #e5e5e5;margin-top: 30px;margin-bottom: 50px;}
.exb_tp .btn{width: 25%;height: 50px;line-height: 48px;float: left;font-size: 20px;color: #19191a;border-right: 1px solid #e5e5e5;}
.exb_tp .btn:last-child{border-right: 0;}
.exb_tp .btn.on{border: 1px solid #527fef;color: #527fef;}
/*¼¿·ºÆ®*/
.table_wrap table tr td .select_wrap{display: inline-block;margin-left: 20px;}
.table_wrap table tr td .select_wrap.ml20{margin-left: 0;}
.table_wrap table tr td .select_wrap span{margin-right: 10px;}
.table_wrap table tr td .select {position:relative; line-height:35px;width: 166px;height: 36px;display: inline-block;vertical-align: middle;}
.table_wrap table tr td .select > a{display:block; border:1px solid #ccc; padding:0 8px; overflow:hidden;position: relative;width: 100%;height: 100%;}
.table_wrap table tr td .select > a:after,.select > ul > li:first-child:after {display:block; float:right;}
.table_wrap table tr td .select > a:after {content:'';display: inline-block;position: absolute;top: 0;bottom: 0;right: 20px;margin:auto 0;width: 10px;height: 6px;background-image: url("../images/sub/select_arrow_icon.png");background-repeat: no-repeat;-webkit-background-size: 100%;background-size: 100%;}
.table_wrap table tr td .select > a.on:after {content:'';display: inline-block;position: absolute;top: 0;bottom: 0;right: 20px;margin:auto 0;width: 10px;height: 6px;background-image: url("../images/sub/select_arrow_icon.png");background-repeat: no-repeat;-webkit-background-size: 100%;background-size: 100%;transform: rotate(180deg)}
.table_wrap table tr td .select > ul{position:absolute; width:100%; top:36px; background:#fff; display:none;z-index: 99;}
.table_wrap table tr td .select > ul > li {cursor:pointer; padding:0 8px; border:1px solid #ccc; border-top:0;background-color: #fff;width: 100%;height: 100%;}

/*Ãß°¡*/
.table_wrap.bl table tr td:first-child{border-left:1px solid #ccc;}
.table_wrap.bl table tr td.odr_info:first-child{border-left: 0;}

@media screen and (max-width: 980px) {
	.sub_content .account_wrap{padding:0 15px;}
	.sub_content .account_wrap .sh_date_area{padding: 30px;}
	.sub_content .account_wrap .sh_date_area .btn_area{width: 55.7%;}
	.sub_content .account_wrap .sh_date_area .btn_area .btn{font-size: 14px;}
	.sub_content .account_wrap .sh_date_area .select_date{position: relative;margin-left: 0;padding-left: 20px; padding-right: 50px; width: 44.3%;}
	.sub_content .account_wrap .sh_date_area .select_date .sel_date{width: 47.5%;font-size: 13px;}
	.sub_content .account_wrap .sh_date_area .select_date em{width: 5%;}
	.sub_content .account_wrap .sh_date_area .select_date .btn{position: absolute;top: 0;right: 0;}

	.sub_content .account_wrap .auction_deposit .ad_top span{font-size: 18px;}
	.sub_content .account_wrap .auction_deposit .ad_txt.text_red{font-size: 22px;}

	.table_wrap.type02 table tr td .memo{width: calc(100% - 58px);}
	.hd_bnr .hd_tp li{width: 90px;}
	.hd_bnr .hd_tp li a{height: 90px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box p{max-width: 230px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box a{max-width: 230px;}
	.hd_bnr .bnr_wrap.exh_bnr .txt_area strong{font-size: 35px;}
	.hd_bnr .bnr_wrap.exh_bnr .txt_area span{font-size: 20px;}
	.hd_cnt .shop_list.type2 li{width: 25%;margin-right: 0;}
	.table_wrap table tr td .select {width: 130px;}
	.table_wrap table tr td .select > a:after{right: 10px;}
	.table_wrap table tr td .select > a.on:after{right: 10px;} 
	.table_wrap.type02 table tr td .td_tit.img .t_box.type02 p{max-width:330px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type02 a{max-width:330px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type03 p{max-width:450px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type03 a{max-width:450px}
}
@media screen and (max-width: 890px){
	.hd_bnr .hd_tp li{width: 78px;}
	.hd_bnr .hd_tp li a{height: 78px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type02 p{max-width:230px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type02 a{max-width:230px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type03 p{max-width:350px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box.type03 a{max-width:350px}
}
@media screen and (max-width: 768px) {
	.table_wrap.type02 table tr td .td_tit.img .t_box p{max-width: 190px;}
	.table_wrap.type02 table tr td .td_tit.img .t_box a{max-width: 190px;}
	.hd_bnr .bnr_wrap.exh_bnr .txt_area{font-size: 16px;}
	.hd_bnr .bnr_wrap.exh_bnr .txt_area strong{font-size: 30px;}
	.hd_bnr .bnr_wrap.exh_bnr .txt_area span{font-size: 17px;}
	 
}